.homepage {
  height: 100dvh;

  display: flex;
  justify-content: center;

  overflow: hidden;
  background: #e8c793;

  .scene {
    max-width: 1920px;
    max-height: 1000px;
    width: 100%;
    position: relative;
    height: 86%;
    background: #fde0b1;
    display: flex;
    justify-content: center;
    perspective: 500px;
  }

  .hero_wrapper {
    margin-top: 25vh;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    color: #1c1c1c;

    @media only screen and (width < 500px) {
      margin-top: 20vh;
    }

    h1 {
      margin-bottom: 20px;

      font-size: 48px;
      color: #2a454b;

      @media only screen and (width < 1024px) {
        font-size: 32px;
        margin-bottom: 10px;
      }

      @media only screen and (width < 600px) {
        font-size: 28px;
        margin-bottom: 8px;
      }
    }

    p {
      margin-bottom: 30px;
      max-width: 450px;

      color: #474747;
      word-spacing: -1px;
      line-height: 1.4;

      @media only screen and (width < 1024px) {
        font-size: 20px;
        margin-bottom: 16px;
      }

      @media only screen and (width < 600px) {
        font-size: 16px;
        margin-bottom: 10px;
      }

      @media only screen and (width < 480px) {
        max-width: 90%;
      }
    }
  }

  .item {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: left top;
    pointer-events: none;

    @media only screen and (width < 1024px) {
      scale: 0.7;
    }

    @media only screen and (width < 500px) {
      scale: 0.5;
    }
  }

  .plant {
    transform-origin: left bottom;
    bottom: -26px;
    left: 10vw;

    @media only screen and (width < 1024px) {
      left: 0;
    }
  }

  .plant_2 {
    transform-origin: left bottom;
    bottom: -50px;
    left: 22vw;

    @media only screen and (width < 1024px) {
      left: 15vw;
    }
  }

  .books_wrapper {
    bottom: -40px;
    right: 10vw;
    transform-origin: right bottom;

    @media only screen and (width < 1024px) {
      right: 0;
    }

    .apple {
      position: absolute;
      top: -64px;
      left: 30px;
    }
  }

  .plant_3 {
    transform-origin: right bottom;
    bottom: -50px;
    right: 20vw;

    @media only screen and (width < 1024px) {
      right: 15vw;
    }
  }

  .clock {
    transform-origin: right top;
    width: 170px;
    height: 170px;
    background-size: 100% auto;
    background-position: right top;
    top: 4vh;
    right: 80px;

    @media only screen and (width < 1024px) {
      right: 10vw;
    }

    @media only screen and (width < 500px) {
      top: 16px;
      right: 16px;
    }
  }
}

.modal {
  .select {
    width: 100%;
  }

  .buttons_wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
  }

  .quiz {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .item_wrapper {
      padding: 10px;

      display: flex;
      flex-direction: column;
      gap: 10px;

      border-radius: 10px;
      border: 1px solid #d9d9d9;

      .question {
        font-weight: 500;
      }

      .options_wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .option {
          padding: 6px 12px;

          border-radius: 10px;
          border: 1px solid #d9d9d9;

          &[data-correct="true"] {
            font-weight: 500;
            color: #30443d;
            border-color: #588073;
            background-color: #61a38e21;
          }
        }
      }

      .explanation {
        color: #474747;

        .info_icon {
          margin-right: 8px;
        }
      }
    }
  }
}
